<div class="container-fluid">
  <h1>Apresentação</h1>
  <p>Projeto realizado por Daniele Costa</p>
  <p class="texto">
    Cápsulas Sonoras é uma obra de arte sonora e web arte realizada em um
    ambiente virtual onde o/a interator/a navega em um espaço em que se depara
    com cápsulas sonoras de universos paralelos e tempos distintos do Planeta
    Terra. Este é um trabalho inédito realizado coletivamente pelos e pelas
    integrantes do SONatório. Cápsulas Sonoras é inspirada na literatura de
    ficção científica (Ursula K. Le Guin, Octavia Butler, George Orwell) e em
    textos de Ailton Krenak (Ideias para adiar o fim do mundo, O amanhã não está
    à venda e A vida não é útil). As cápsulas são carregadas de memórias
    afetivas; elas partem de mensagens de nanofios de silício implantados no
    corpo humano, de gravadores obsoletos ou de gravações de campo de universos
    paralelos em anos passados e futuros. Que outras configurações da Terra
    seriam/são possíveis? Se continuarmos vivendo como estamos, desmatando
    florestas, poluindo mares, rios e lagoas, criando cada vez mais ambientes e
    alimentos artificiais, como sobreviveremos? Como podemos adiar o fim do
    mundo? Estas são algumas das indagações motivadoras para a criação das
    cápsulas sonoras. Cápsulas Sonoras procura trazer uma reflexão sobre nosso
    modo de vida, sobre formas de sobrevivência e resistência.
  </p>
</div>
